body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #db6d06, #ffffff);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Cambiado a flex-start para alinear arriba */
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff; /* Color blanco global */
}

