/* landing-page.component.css */
.landing-page {
    position: relative;
    width: 92.5vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
