<div class="dashboard-container">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">

  <div class="content">
    
    <!-- Header Section -->
    <section class="headers-list">
      <div *ngFor="let header of headers">
          <h1>{{ header.name }}</h1>
          <img *ngIf="header.imageUrl" [src]="header.imageUrl" alt="Foto de {{ header.name }}" />
          <p>{{ header.description }}</p>
          <p><strong>Email:</strong> {{ header.email }}</p>
          <p><strong>Teléfono:</strong> {{ header.phoneNumber || 'N/A' }}</p>
          <p><strong>Ubicación:</strong> {{ header.location || 'N/A' }}</p>
          <p *ngIf="header.github"><strong>GitHub:</strong> <a [href]="header.github" target="_blank">Ver Perfil</a></p>
      </div>
    </section>
  

    <!-- Work Experience Section -->
    <section class="work-experience">
      <h3>Experiencia Laboral</h3>
      <div *ngIf="workExperiences.length > 0; else noExperience" class="experience-list">
        <div *ngFor="let experience of workExperiences" class="experience-item">
          <h4>{{ experience.role }} - {{ experience.company }}</h4>
          <p>{{ experience.startDate | date:'MM/yyyy' }} - {{ experience.endDate ? (experience.endDate | date:'MM/yyyy') : 'Actualidad' }}</p>
          <p><strong>Ubicación:</strong> {{ experience.location }}</p>
          <p><strong>Logros:</strong>  {{ experience.accomplishments }}</p>
          <ul>
            <li *ngFor="let accomplishment of experience.accomplishments">{{ accomplishment }}</li>
          </ul>
        </div>
      </div>
      <ng-template #noExperience>
        <p>No tienes experiencias laborales registradas.</p>
      </ng-template>
    </section>

    <!-- Skills Section -->
    <section class="skills">
      <h3>Habilidades</h3>
      <div *ngIf="skills.length > 0; else noSkills" class="skills-list">
        <div *ngFor="let skill of skills" class="skill-item">
          <h4>{{ skill.name }} - Nivel: {{ skill.level }}</h4>
          <p>{{ skill.description }}</p>
        </div>
      </div>
      <ng-template #noSkills>
        <p>No tienes habilidades registradas.</p>
      </ng-template>
    </section>

    <!-- Education Section -->
    <section class="education">
      <h3>Educación</h3>
      <div *ngIf="degrees.length > 0; else noEducation" class="education-list">
        <div *ngFor="let edu of degrees" class="education-item">
          <h4>{{ edu.degree }} - {{ edu.university }}</h4>
          <p>{{ edu.startDate | date:'MM/yyyy' }} - {{ edu.endDate ? (edu.endDate | date:'MM/yyyy') : 'Actualidad' }}</p>
        </div>
      </div>
      <ng-template #noEducation>
        <p>No tienes registros educativos.</p>
      </ng-template>
    </section>

    <!-- Languages Section -->
    <section class="languages">
      <h3>Idiomas</h3>
      <div *ngIf="languages.length > 0; else noLanguages" class="languages-list">
        <div *ngFor="let language of languages" class="language-item">
          <h4>{{ language.name }} - Nivel: {{ language.proficiency }}</h4>
        </div>
      </div>
      <ng-template #noLanguages>
        <p>No tienes idiomas registrados.</p>
      </ng-template>
    </section>

    <!-- Interests Section -->
    <section class="interests">
      <h3>Intereses</h3>
      <div *ngIf="interests.length > 0; else noInterests" class="interests-list">
        <div *ngFor="let interest of interests" class="interest-item">
          <h4>{{ interest.name }}</h4>
          <p>{{ interest.description }}</p>
        </div>
      </div>
      <ng-template #noInterests>
        <p>No tienes intereses registrados.</p>
      </ng-template>
    </section>

  </div>
</div>
