<div class="dashboard-container">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Sidebar -->
    
    <!-- Content -->
     
    <div class="content">
    
        <section class="headers-list">
            <div class="actions-container">
                <span class="action-link create" (click)="onCreateNew()">
                    <i class="fas fa-plus-circle"></i> Crear
                </span>
                
                
            </div>
    
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Foto</th>
                        <th>Descripción</th>
                        <th>Email</th>
                        <th>Teléfono</th>
                        <th>Ubicación</th>
                        <th>GitHub</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let header of headers">
                        <td>{{ header.name }}</td>
                        <td>
                            <img 
                                *ngIf="header.imageUrl" 
                                [src]="header.imageUrl" 
                                alt="Foto de {{ header.name }}" 
                                class="profile-thumbnail" 
                            />
                        </td>
                        <td>{{ header.description }}</td>
                        <td>{{ header.email }}</td>
                        <td>{{ header.phoneNumber || 'N/A' }}</td>
                        <td>{{ header.location || 'N/A' }}</td>

                        <td>
                            <a *ngIf="header.github" [href]="header.github" target="_blank">
                                Ver Perfil
                            </a>

                            
                        </td>
                        <span class="action-link delete" (click)="onDelete(header.id)">
                          <i class="fas fa-trash-alt"></i> 
                        </span>
                        <span class="action-link edit" (click)="onEdit(header.id)">
                          <i class="fas fa-edit"></i> Editar
                        </span>
                        
                    </tr>
                </tbody>
            </table>
        </section>
    
      <!-- Work Experience -->
      <section class="work-experience">
        <h3>Experiencia Laboral</h3>
        <div *ngIf="workExperiences.length > 0; else noExperience" class="jobs">
          <div *ngFor="let experience of workExperiences" class="job">
            <h4>{{ experience.role }} - {{ experience.company }}</h4>
            <h4>{{ experience.accomplishments }} </h4>

            <p>{{ experience.startDate | date:'MM/yyyy' }} - {{ experience.endDate ? (experience.endDate | date:'MM/yyyy') : 'Actualidad' }}</p>
            <p>{{ experience.location }} </p>



            <ul>
              <li *ngFor="let accomplishment of experience.accomplishments">{{ accomplishment }}</li>
            </ul>
            <div class="actions">
              <button class="edit" (click)="onEditExperience(experience.id)"></button>
              <button class="delete" (click)="onDeleteExperience(experience.id)"></button>
            </div>
          </div>
        </div>
        <ng-template #noExperience>
          <p>No tienes experiencias laborales. ¿Quieres añadir una nueva?</p>
        </ng-template>
      
        <div class="create-new">
          <button class="create" (click)="onCreateExperience()">Crear Nuevo</button>
        </div>
      </section>
      
      
    
      <!-- Skills -->
      <section class="skills work-experience">
        <h3>Habilidades</h3>
        <div *ngIf="skills.length > 0; else noExperience" class="jobs">
          <div *ngFor="let skill of skills" class="job">
            <h4>{{ skill.name }} - {{ skill.level }}</h4>
            <h4>{{ skill.description }}</h4>
            <span class="action-link delete" (click)="deleteSkill(skill.id)">
              <i class="fas fa-trash-alt"></i> 
            </span>
            <span class="action-link edit" (click)="onEditSkill(skill.id)">
              <i class="fas fa-edit"></i> Editar
            </span>

          </div>
        </div>

        <ng-template #noExperience>
          <p>No tienes Habilidades. ¿Quieres añadir una nueva?</p>
        </ng-template>
      
        <div class="create-new">
          <button class="create" (click)="onCreateSkills()">Crear Nuevo</button>
        </div>
      </section>
      
    
      <section class="education work-experience">
        <h3>Educación</h3>
        <div *ngIf="degrees.length > 0; else noEducation" class="jobs">
            <div *ngFor="let edu of degrees" class="job">
                <h4>{{ edu.degree }} - {{ edu.university }}</h4>
                <p>{{ edu.startDate | date:'MM/yyyy' }} - {{ edu.endDate ? (edu.endDate | date:'MM/yyyy') : 'Actualidad' }}</p>
                <span class="action-link delete" (click)="deleteEducation(edu.id)">
                  <i class="fas fa-trash-alt"></i> 
                </span>
                <span class="action-link edit" (click)="onEditEducation(edu.id)">
                  <i class="fas fa-edit"></i> Editar
              </span>
            </div>
        </div>
        <ng-template #noEducation>
            <p>No tienes registros educativos. ¿Quieres añadir uno nuevo?</p>
        </ng-template>
        <div class="create-new">
            <button class="create" (click)="onCreateDegree()">Crear Nuevo</button>
        </div>
      </section>
    
      <section class="languages work-experience">
        <h3>Idiomas</h3>
        <div *ngIf="languages.length > 0; else noLanguages" class="jobs">
            <div *ngFor="let language of languages" class="job">
                <h4>{{ language.name }} - Nivel: {{ language.proficiency }}</h4>
                <span class="action-link delete" (click)="deleteLanguage(language.id)">
                  <i class="fas fa-trash-alt"></i> 
                </span>
                <span class="action-link edit" (click)="onEditLanguage(language.id)">
                  <i class="fas fa-edit"></i> Editar
                </span>

            </div>
        </div>
        <ng-template #noLanguages>
            <p>No tienes idiomas registrados. ¿Quieres añadir uno nuevo?</p>
        </ng-template>
        <div class="create-new">
            <button class="create" (click)="onCreateLanguages()">Añadir Idioma</button>
        </div>
      </section>


      <section class="interests work-experience">
        <h3>Intereses</h3>
        <div *ngIf="interests.length > 0; else noInterests" class="jobs">
          <div *ngFor="let interest of interests" class="job">
            <h4>{{ interest.name }}</h4>
            <p>{{ interest.description }}</p>
            <span class="action-link delete" (click)="deleteInterest(interest.id)">
              <i class="fas fa-trash-alt"></i> 
            </span>
            <span class="action-link edit" (click)="onEditInterest(interest.id)">
              <i class="fas fa-edit"></i> Editar
            </span>
          </div>
        </div>
      
        <ng-template #noInterests>
          <p>No tienes intereses. ¿Quieres añadir uno nuevo?</p>
        </ng-template>
      
        <div class="create-new">
          <button class="create" (click)="onCreateInterest()">Crear Nuevo</button>
        </div>
      </section>
      
    
    </div>
  </div>
  